.panel {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 35%;
  height: 100%;
  background-size: 100% 100%;
}

.panel legend {
  font-family: 'Arial';
  font-size: 180%;
  font-weight: 100;
  margin: auto;
  -webkit-font-smoothing: antialiased;
}

.panel fieldset {
  font-family: 'Arial';
  font-size: 58%;
  font-weight: 100;
  margin: 1%;
  color: white;
  -webkit-font-smoothing: antialiased;
}

.panel ul {
  font-family: 'Arial';
  font-size: 180%;
  font-weight: 100;
  margin: 0;
    /* Remove list bullets */
  padding: 0;
  list-style: none;
  -webkit-font-smoothing: antialiased;
}

.panel input {
  font-family: 'Arial';
  font-size: 100%;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
}

.panel input[type='number']::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

.panel input[type='number'] {
  text-align: right;
}

.panel .commands table {
  font-family: 'Arial';
  font-size: 130%;
  font-weight: 100;
  width: 100%;
  margin: 2% 0;
  border-collapse: collapse;
  color: white;
  -webkit-font-smoothing: antialiased;
}

.panel .commands td,
.panel .commands th {
  padding: 1%;
  text-align: center;
}

.panel .btn {
  width: 70%;
  margin: auto;
  padding: 4% 6%;
  cursor: pointer;
  text-align: center;
  border: 3px solid white;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  background-color: none;
  background-size: 70%;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.panel .btn.green {
  background-color: green;
}

.panel .btn.yellow {
  background-color: gold;
}

.panel .btn.red {
  background-color: red;
}

.panel .btn.blue {
  background-color: DodgerBlue;
}

.panel .results table {
  font-family: 'Arial';
  font-size: 130%;
  font-weight: 100;
  margin-right: auto;
  margin-left: auto;
  border-collapse: collapse;
  color: white;
  -webkit-font-smoothing: antialiased;
}

.panel .results tr {
  font-family: 'Arial';
  font-size: 90%;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
}

.panel .results td,
.panel .results th {
  padding: 1.5%;
  text-align: center;
  border: 1px solid white;
}

.panel .messageOk {
  padding: 1px 6px;
  transition: opacity .5s linear;
  opacity: 0;
  color: #4f8a10;
  background-color: #dff2bf;
}

.panel .messageError {
  padding: 1px 6px;
  transition: opacity .5s linear;
  opacity: 0;
  color: #d8000c;
  background-color: #ffbaba;
}

.graph {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 64%;
  height: 100%;
  background-size: 100% 100%;
}

body {
  margin: 0;
  padding: 0;
}

@keyframes alertOn {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  70% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
